* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || GENERAL */
body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    font-size: .7rem;
}

li,
i {
    margin: 0 .2em;
}

li,
i,
header img,
article img,
div.favourite {
    cursor: pointer;
}

p {
    font-size: .8em;
}

div.container {
    max-width: 1300px;
}

/* || UTILITIES */
.m-center {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.center-between {
    justify-content: space-between;
    align-items: center;
}

/* || HEADER */
header {
    background-color: #ff6900;
    padding: 1rem 9.5rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1.5px solid lightgray;
    color: white;
}

header img {
    width: 6.5em;
    object-fit: contain;
}

main {
    padding: 6rem 0 2rem;
}

main section.products {
    width: 80%;
    margin-bottom: 2rem;
}

main section.products div.row article {
    width: calc((100% / 3) - .7rem);
}

/* || ARTICLE */
.card-img {
    position: relative;
}

article img {
    width: 100%;
    object-fit: contain;
}

article img.hover-photo,
article:hover img.photo {
    display: none;
}

article:hover img.hover-photo {
    display: block;
}

.card-img div.card-tags {
    position: absolute;
    left: 0;
    bottom: 2rem;
    color: white;
}

div.card-tags span {
    padding: .35em .7em;
    font-weight: bold;
    font-size: .7rem;
}

span.discount {
    background-color: red;
    margin-right: 0.2rem;
}

span.sustainability {
    background-color: #008000;
}

div.favourite {
    position: absolute;
    right: 0;
    top: .3em;
    padding: .2em .4em .1em;
    background-color: white;
    color: black;
    font-size: 2.5em;
}

div.favourite:hover {
    color: red;
}

.info-brand {
    font-size: .7rem;
    color: #1a1a1a;
}

.info-product {
    text-transform: uppercase;
    font-weight: bold;
}

.info-price {
    color: red;
    font-weight: bold;
    font-size: .7rem;
}

.info-price-old {
    font-size: .7rem;
    text-decoration: line-through;
    color: #1a1a1a;
}

/* || FOOTER */
footer {
    background-color: #1a1a1a;
    color: white;
    padding: 2rem 9.5rem;
    font-size: .7rem;
}

footer p {
    margin-bottom: .8em;
    font-weight: bold;
    font-size: .8rem;
}