* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

li,
i {
    margin: 0 .4em;
}

p {
    font-size: .8em;
}

div.container {
    max-width: 1300px;
}

header {
    background-color: #ff6900;
    padding: 1rem 9.5rem;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1.5px solid lightgray;
}

header img {
    width: 6.5em;
    object-fit: contain;
}

main {
    padding-top: 6rem;
}

main section.products {
    width: 80%;
    margin-bottom: 2rem;
}

main section.products div.row article {
    width: calc((100% / 3) - .7rem);
}

article img {
    width: 100%;
    object-fit: contain;
}

/*    **    */
.m-center {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.center-between {
    justify-content: space-between;
    align-items: center;
}

/* ** STYLE */
/*  --orange: #ff6900;
    --green: #008000;
    --darkgrey: #1a1a1a;
*/

.font-white {
    color: white;
}

.font-red {
    color: red;
}

.font-small {
    font-size: .7em;
}

.font-bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.crossed {
    text-decoration: line-through;
}